= semantic_form_for [:admin, @language] do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name
    = f.input :description

    .word_fields
      - @language.errors['words.match_word'].each do |e|
        = "Match word " + e
      - @language.words.each do |word|
        = f.fields_for :language_words, word do |word_form|
          = render :partial => "word_fields", :locals => { :f => word_form }
      = link_to_add_fields("Add Word", f, :words)

  = f.buttons

:javascript
  function remove_fields(link) {
    $(link).prev("input[type=hidden]").val("1");
    $(link).closest(".fields").hide();
    $(link).parent().hide();
  }

  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
  }
