%h1 Listing translations

%table
  %tr
    %th User
    %th Language
    %th Input text
    %th Output text
    %th
    %th
    %th

  - @translations.each do |translation|
    %tr
      %td= translation.user_id
      %td= translation.language_id
      %td= translation.input_text
      %td= translation.output_text
      %td= link_to 'Show', admin_translation_path
      %td= link_to 'Edit', edit_admin_translation_path(translation)
      %td= link_to 'Destroy', admin_translation, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Translation', new_admin_translation_path
