.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_translations_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_translation_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_translation_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_translation.user_id", :default => t("activerecord.labels.user_id", :default => "User"))
          \:
        = @translation.user_id
      %p
        %b
          = t("activerecord.attributes.admin_translation.language_id", :default => t("activerecord.labels.language_id", :default => "Language"))
          \:
        = @translation.language_id
      %p
        %b
          = t("activerecord.attributes.admin_translation.input_text", :default => t("activerecord.labels.input_text", :default => "Input text"))
          \:
        = @translation.input_text
      %p
        %b
          = t("activerecord.attributes.admin_translation.output_text", :default => t("activerecord.labels.output_text", :default => "Output text"))
          \:
        = @translation.output_text
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_translation_path(@translation), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_translation_path(@translation), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
